<div id="member-details">
    <p class="member-detail" id="activity-name-det">{{name}}</p>
    <p class="member-detail" id="activity-date-det">Date: {{date}}</p>
    <p class="member-detail" id="activity-description-det">Description: {{description}}</p>
    <p class="member-detail" id="activity-venue-det">Venue: {{venue}}</p>
    <div id="delete-member">
        <a href="/activity/delete-activity?activityId={{activityId}}&commId={{commId}}"><p>Delete Activity</p></a>
    </div>
</div>