<div class="main">

    <form id="new-member" action="../event/create" method="POST">
        <fieldset>
            <legend id="new-member-title">New Event</legend>
            <div>
                <label class="new-member-label" for="event-name">Name:</label>
                <input type="text" class="member-input" id="event-name" size="25" placeholder="Event Name" name="name">
            </div>
            <div>
                <label class="new-member-label" for="event-description">Description:</label>
                <input type="text" class="member-input" id="event-description" size="25" placeholder="Description" name="description">
            </div>
            <div>
                <label class="new-member-label" for="event-venue">Venue:</label>
                <input type="text" class="member-input" id="event-venue" size="25" placeholder="Venue" name="venue">
            </div>
            <div>
                <label class="new-member-label" for="event-budget">Budget:</label>
                <input type="text" class="member-input" id="event-budget" size="25" placeholder="Budget" name="budget">
            </div>
            <div>
                <label class="new-member-label" for="event-date">Date:</label>
                <input id="event-date" type="date" name="date">
            </div>
            <div style="display:none; width:0px; height: 0px;">
                <input type="hidden" value="{{commId}}" name="conductedBy">
            </div>
            <div id="member-submit">
                <button type="submit">Create Event</button>
            </div>
        </fieldset>
    </form>

    <div class="heading">
        <span>
                <p id="title">Events:</p>
            </span>
    </div>
    <!--div class="heading">
            <p id="founder">Founded by {{founder}}</p>
          </div-->
    <div class="member-overview">
        <table id="member-list">
            <tr class="member-tr">
                <th class="member-th">Name</th>
                <th class="member-th">Date</th>
            </tr>
            {{#each events}}
            <tr class="member-tr">
                <td class="member-name"><a href="{{this.url}}&commId={{../commId}}" class="member-link">{{this.name}}</a></td>
                <td class="member-position">{{this.date}}</td>
                <td class="url">{{this.url}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>