<div id="member-details">
    <p class="member-detail" id="event-name-det">{{name}}</p>
    <p class="member-detail" id="event-date-det">Date: {{date}}</p>
    <p class="member-detail" id="event-description-det">Description: {{description}}</p>
    <p class="member-detail" id="event-venue-det">Venue: {{venue}}</p>
    <p class="member-detail" id="event-budget-det">Budget: {{budget}}</p>
    <div id="delete-member">
        <a href="/event/delete-event?eventId={{eventId}}&commId={{commId}}"><p>Delete Event</p></a>
    </div>
</div>